.btn-putih {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    color: rgb(40, 41, 140);
    font-weight: bold;
    font-size: medium;
    border-radius: 10px;
  }
  
.bckground-logo {
  background-color: rgb(255, 255, 255);
  padding: 1px;
  border-radius: 10px;
  margin: auto;
}