* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #e0e5ec;
}

.project-detail {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.project-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #232946;
}

.project-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.project-image-container {
    flex: 1;
    margin-left: 50px;
    width: 600px;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-info {
    flex: 1;
}

.project-info h2 {
    font-size: 20px;
    margin: 10px 0;
    color: #232946;
}

.project-info p {
    font-size: 16px;
    color: #555;
}

.technologies span {
    display: inline-block;
    background-color: #232946;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.project-description {
    margin-top: 30px;
    font-size: 16px;
    color: #555;
    text-align: justify;
}
