<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <h2>Welcome, {{user.name}}</h2>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
