<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Project</title>
    <link rel="stylesheet" href="/asset/css/project.css" />
    <link rel="stylesheet" href="/asset/css/nav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <img
          src="/asset/img/dumbways.png"
          alt="Dumbways Logo"
          style="width: 70px;"
        />
        <a href="/" class="nav-button">Home</a>
        <a href="/project" class="nav-button" style="font-weight: 700">Add Project</a>
        <a href="/testimonial" class="nav-button">Testimonials</a>
      </div>

      <div class="navbar-right">
        {{#if isLoggedIn}}
          <span class="welcome-message">Selamat Datang, {{userName}}!</span>
          <a href="/logout" class="nav-button">Logout</a>
        {{else}}
          <a href="/login" class="nav-button">Login</a>
          <a href="/register" class="nav-button">Register</a>
        {{/if}}
        <a href="/contact" class="button">Contact Me</a>
      </div>
      <!-- Hamburger icon for mobile -->
      <div class="hamburger-menu">
        <i class="fas fa-bars" onclick="toggleHamburgerMenu()"></i>
      </div>
    </nav>

    <!-- Hamburger menu container for mobile view -->
    <div id="hamburger-container" class="hamburger-container hide">
      <h1 class="hamburger-container-item hamburger-active">
        <a style="color: white; text-decoration: none;" href="/"> Home </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none;" href="/project">
          Add Project
        </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none;" href="/contact">
          Contact Me
        </a>
      </h1>
      <h1 class="hamburger-container-item">
        <a style="color: #232946; text-decoration: none" href="/testimonial">
          Testimonials
        </a>
      </h1>
      {{#unless isLoggedIn}}
        <h1 class="hamburger-container-item">
          <a style="color: #232946; text-decoration: none" href="/login">
            Login
          </a>
        </h1>
        <h1 class="hamburger-container-item">
          <a style="color: #232946; text-decoration: none" href="/register">
            Register
          </a>
        </h1>
      {{/unless}}
    </div>
    <main>
      <div class="project">
        <h1>Add My Project</h1>
        <form action="/project" method="POST" enctype="multipart/form-data">
          <label for="project-name">Project Name</label>
          <input type="text" id="project-name" name="name" required />

          <label for="start-date">Start Date</label>
          <input type="date" id="start-date" name="start_date" required />

          <label for="end-date">End Date</label>
          <input type="date" id="end-date" name="end_date" required />

          <label for="description">Description</label>
          <textarea
            id="description"
            name="description"
            rows="5"
            required
          ></textarea>

          <label>Technologies</label>
          <div class="tech-stack">
            <label><input type="checkbox" name="technologies" value="HTML" />
              HTML
            </label>
            <label><input type="checkbox" name="technologies" value="CSS" />
              CSS
            </label>
            <label><input type="checkbox" name="technologies" value="JS" />
              JS
            </label>
            <label><input
                type="checkbox"
                name="technologies"
                value="TypeScript"
              />
              TypeScript
            </label>
          </div>

          <label for="image">Upload Image</label>
          <input type="file" id="image" name="image" accept="image/*" />

          <button type="submit">submit</button>
        </form>
      </div>
    </main>
    {{! <script src="asset/js/project.js"></script> }}
    <script src="asset/js/nav.js"></script>
  </body>
</html>