
#projects-list {
  margin-top: 50px;
}

.project-cards {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
  max-width: 1200px;
}

.project-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.project-card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.project-card h2 {
  font-size: 20px;
  margin: 10px 0;
}

.project-card p {
  color: #555;
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  margin: 0 auto;
  text-align: justify;
}

.project-card .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.project-card button {
  justify-items: left;
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.project-card .edit-btn {
  background-color: #232946;
  color: white;
}

.project-card .delete-btn {
  background-color: #232946;
  color: white;
}

/* Style untuk tombol "Lihat Detail" */
.button-detail {
  display: inline-block;
  margin-top: 5px;
  padding: 8px;
  background-color: #333; /* Warna dasar tombol */
  color: #fff; /* Warna teks */
  text-align: center;
  font-size: 1rem;
  text-decoration: none; /* Menghilangkan garis bawah */
  border-radius: 5px; /* Membuat sudut tombol melengkung */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Animasi efek hover */
}

.button-detail:hover {
  background-color: #555; /* Warna tombol saat di-hover */
  transform: scale(1.05); /* Efek pembesaran saat di-hover */
}

.button-detail:active {
  background-color: #111; /* Warna tombol saat diklik */
  transform: scale(0.98); /* Efek sedikit mengecil saat diklik */
}

.button-detail-icon {
  margin-right: 8px; /* Memberikan jarak antara ikon dan teks */
  vertical-align: middle; /* Menyelaraskan ikon dengan teks */
}